<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_home_output.css}" href="../../static/css/style_home_output.css" />
</head>

<body>
    <h1>FILMNOTE</h1>
    <div class="wrapper">
    <section id="section1">
        <a href="#section3">
            <</a> <div class="item">
                <img
                        src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab">
    </div>
    <div class="item">
        <img
            src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
    </div>
    <div class="item">
        <img
            src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
    </div>
    <div class="item">
        <img
            src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
    </div>
    <div class="item">
        <img
            src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
    </div>
    <a href="#section2">></a>
    </section>
    <section id="section2">
        <a href="#section1">
            <</a>
            <div class="item">
                <img
                    src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
            </div>
            <div class="item">
                <img
                    src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
            </div>
            <div class="item">
                <img
                    src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
            </div>
            <div class="item">
                <img
                    src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
            </div>
            <div class="item">
                <img
                    src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
            </div>
        <a href="#section3">>
        </a>
    </section>
    <section id="section3">
        <a href="#section2">
            <</a>
            <div class="item">
                <img
                    src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
            </div>
            <div class="item">
                <img
                    src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
            </div>
            <div class="item">
                <img
                    src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
            </div>
            <div class="item">
                <img
                    src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
            </div>
            <div class="item">
                <img
                    src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABZjUT5gtfU0c9wOJcvMwnH3zKyrFO2HQAYIAyNdOfoYskQ0VzyJ8vC-0ltEuKpy4edaKdPHqQaoVFYPEd-Nl7PCSwCJfNUr1zkmaHwO2N1qmqUssjecaWJcBNQCCKzWxIA.webp?r=eab" />
            </div>
        <a href="#section1">>
        </a>
    </section>
    </div>
</body>

</html>